* {
  box-sizing: border-box;
}
body {
  padding: 0;
  margin: 0;
}
.wrapper {
  max-width: 1200px;
  margin: 0 auto;
}
.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 15px;
}
.row {
  display: flex;
  flex-wrap: wrap;
}
[class^="col-"] {
  padding: 12px;
}
img {
  max-width: 100%;
  vertical-align: middle;
}
a {
  text-decoration: none;
  color: inherit;
}
.col-1 {
  width: 8.333%;
}
.col-2 {
  width: 16.667%;
}
.col-3 {
  width: 25%;
}
.col-4 {
  width: 33.333%;
}
.col-5 {
  width: 41.667%;
}
.col-6 {
  width: 50%;
}
.col-7 {
  width: 58.333%;
}
.col-8 {
  width: 66.667%;
}
.col-9 {
  width: 75%;
}
.col-10 {
  width: 83.333%;
}
.col-11 {
  width: 91.667%;
}
.col-12 {
  width: 100%;
}
@font-face {
  font-family: 'Royale';
  src: url('../fonts/Luxury\ Royale\ JF\ Regular.ttf');
}
@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto Condensed'), local('RobotoCondensed-Regular'), url(https://fonts.gstatic.com/s/robotocondensed/v16/ieVl2ZhZI2eCN5jzbjEETS9weq8-19K7CA.ttf) format('truetype');
}
body {
  font-family: 'Arial', sans-serif;
}
.hide {
  display: none;
}
.icon {
  font-size: 13px;
}
.icon--gray {
  color: #5c5c5c;
  margin-right: 10px;
  margin-left: 6px;
}
.icon--menu {
  font-size: 25px;
  cursor: pointer;
}
.top {
  background-color: #000;
  color: #fff;
  text-transform: uppercase;
  font-size: 11px;
  z-index: 2;
}
.top__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.top__block {
  display: flex;
  align-items: center;
}
.top__link {
  display: inline-block;
  padding: 8px 0;
  font-size: 12px;
  transform: translateX(6px);
  cursor: pointer;
  position: relative;
}
.top__link--separate {
  padding: 8px 11px;
  font-size: 11px;
  transform: translateX(0px);
}
.top__link--separate::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  height: 28px;
  width: 1px;
  background: #5c5c5c;
}
.top__link--list {
  position: relative;
  padding-right: 31px;
  padding-left: 17px;
  display: flex;
  height: 100%;
  z-index: 2;
}
.top__link--list::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 28px;
  width: 1px;
  background: #5c5c5c;
}
.top__link--list:hover .top__list {
  display: block;
  z-index: 2;
}
.top__list {
  display: none;
  position: absolute;
  top: 100%;
  left: 1px;
  width: 100%;
  background: #000;
  margin: 0;
  padding: 0;
  z-index: 2;
}
.top__item {
  list-style-type: none;
  padding: 3px 15px;
  transition: 0.2s padding;
}
.top__item:hover {
  padding-left: 20px;
}
.top__arrow {
  font-size: 15px;
  position: absolute;
  top: 3px;
  right: 15px;
}
.nav {
  background: #fff;
}
.nav__link {
  display: inline-block;
  width: 100%;
}
.nav__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.nav__menu {
  display: flex;
  margin: 0;
  padding: 0;
}
.nav__item {
  list-style-type: none;
  padding: 43px 15px;
  cursor: pointer;
}
.nav__item:hover {
  background: #c7c7c7;
  color: #fff;
}
.nav__item:hover .nav__subcontainer {
  display: flex;
  color: #000;
}
.nav__item--submenu {
  padding: 3px 0px 3px 5px;
  transition: 0.2s;
  border-left: 1px solid #c7c7c7;
}
.nav__item--submenu:hover {
  padding-left: 10px;
}
.nav__subcontainer {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  margin: 0;
  padding: 0;
  background: #fff;
  z-index: 2;
}
.nav__sub {
  list-style-type: none;
  width: 25%;
}
.nav__submenu {
  margin: 0;
  padding: 10px 15px;
}
.nav__logo {
  margin-right: auto;
}
.nav__manage {
  display: flex;
  flex-wrap: wrap;
}
.menuhide {
  display: none;
}
.cart {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.cart__select {
  display: inline-block;
  width: 100%;
  min-width: 214px;
  padding: 7px;
  border: 1px solid #c7c7c7;
  color: #5c5c5c;
}
.cart__info {
  border: 1px solid #c7c7c7;
  border-top: 0;
  padding: 7px;
  display: flex;
  justify-content: space-between;
  color: #5c5c5c;
  font-size: 12px;
  user-select: none;
}
.cart__items {
  user-select: inherit;
}
.slider__container {
  position: relative;
}
.slider__item {
  position: relative;
}
.slider__content {
  position: absolute;
  top: 32%;
  left: 15%;
  transform: translate(-15%, -32%);
}
.slider__arrow {
  user-select: none;
  position: absolute;
  left: 0;
  top: 50%;
  padding: 45px 10px;
  background: rgba(255, 255, 255, 0.8);
  cursor: pointer;
  font-weight: bold;
  color: #c7c7c7;
  transform: translateY(-50%);
  font-size: 20px;
  transition: 0.2s background-color;
}
.slider__arrow--next {
  right: 0;
  left: auto;
}
.slider__arrow:hover {
  background: #fff;
}
.slider__progress {
  position: absolute;
  display: inline-block;
  bottom: 0;
  height: 7px;
  width: 0;
  background: rgba(92, 92, 92, 0.4);
}
.slider__pagination {
  position: absolute;
  bottom: -60px;
  width: 100%;
}
.slider__dots {
  display: flex;
  padding: 0;
  justify-content: center;
}
.slider__dots li {
  display: inline-block;
  border-radius: 50%;
  overflow: hidden;
  margin: 0 10px;
  width: 10px;
  height: 10px;
  background: #c7c7c7;
  cursor: pointer;
  transition: 0.2s background;
}
.slider__dots li:hover {
  background: #ffa687;
}
.slider__dots li button {
  display: none;
}
.slider__dots .slick-active {
  background: #ffa687;
}
.welcome {
  text-align: center;
  max-width: 500px;
}
.welcome__pre {
  font-family: 'Royale', serif;
  font-size: 36px;
  position: relative;
  color: #91817a;
}
.welcome__pre::before,
.welcome__pre::after {
  content: '';
  width: 91.9%;
  height: 1px;
  top: 60%;
  position: absolute;
  background: #91817a;
}
.welcome__pre:before {
  left: calc(-100%);
}
.welcome__pre::after {
  right: calc(-100% - 5px);
  background: #91817a;
}
.welcome__title {
  user-select: none;
  margin-top: 6px;
  margin-bottom: 25px;
  line-height: 0.78;
  font-family: 'Roboto Condensed';
  text-transform: uppercase;
  font-size: 93px;
  font-weight: 900;
  background: linear-gradient(#ffa687, #ba96a2);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: relative;
}
.welcome__title::after {
  content: '';
  position: absolute;
  height: 3px;
  width: 68%;
  background: #91817a;
  bottom: -10px;
  left: 16%;
}
.welcome__title::before {
  content: '';
  position: absolute;
  height: 1px;
  width: 68%;
  background: #91817a;
  bottom: -15px;
  left: 16%;
}
.welcome__after {
  text-transform: uppercase;
  display: inline-block;
  font-weight: 200;
  width: 100%;
  font-family: 'Helvetica', sans-serif;
  font-size: 30px;
  color: #91817a;
  margin-bottom: 11px;
}
.btn {
  background: #ffa687;
  text-transform: uppercase;
  color: #fff;
  padding: 17px 25px;
  border: 0;
  border-bottom: 2px solid #e88e6e;
  font-size: 16px;
  cursor: pointer;
  background: linear-gradient(90deg, #e88e6e 50%, #ffa687 50%);
  background-position: 100% 0;
  background-size: 300%;
  transition: 0.5s background;
}
.btn:hover {
  background-position: 0 100%;
}
@media (max-width: 992px) {
  .col-m-1 {
    width: 8.333%;
  }
  .col-m-2 {
    width: 16.667%;
  }
  .col-m-3 {
    width: 25%;
  }
  .col-m-4 {
    width: 33.333%;
  }
  .col-m-5 {
    width: 41.667%;
  }
  .col-m-6 {
    width: 50%;
  }
  .col-m-7 {
    width: 58.333%;
  }
  .col-m-8 {
    width: 66.667%;
  }
  .col-m-9 {
    width: 75%;
  }
  .col-m-10 {
    width: 83.333%;
  }
  .col-m-11 {
    width: 91.667%;
  }
  .col-m-12 {
    width: 100%;
  }
  .nav__container {
    flex-wrap: wrap;
  }
  .nav__manage {
    order: 4;
    width: 100%;
    position: relative;
  }
  .nav__menu {
    width: 100%;
    flex-wrap: wrap;
    display: none;
    position: absolute;
    top: calc(100% - 15px);
    z-index: 2;
  }
  .nav__item {
    background: #fff;
    padding: 5px 0;
    width: 100%;
    text-align: center;
    font-weight: 600;
  }
  .nav__item:hover {
    background: #fff;
    color: #000;
  }
  .nav__item--submenu {
    font-weight: 200;
    padding: 3px 0;
    border: 0;
  }
  .nav__item--submenu:hover {
    padding: 3px 0;
    background: #c7c7c7;
  }
  .nav__item:hover .nav__subcontainer {
    position: relative;
    display: none;
    top: 0;
  }
  .nav__subcontainer {
    position: relative;
    display: none;
    top: 0;
  }
  .nav__submenu {
    padding: 0;
  }
  .nav__link {
    display: inline-block;
    width: 100%;
    text-align: center;
  }
  .nav__sub {
    width: 100%;
  }
  .menuhide {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #ffa687;
    color: #fff;
    padding: 12px 16px;
    margin-bottom: 15px;
    text-transform: uppercase;
    font-size: 18px;
  }
  .cart {
    margin: 23px 0;
  }
  .slider__content {
    left: 11.9%;
    top: 32%;
    transform: translate(-11.9%, -32%);
  }
  .slider__pagination {
    bottom: -45px;
  }
  .welcome {
    max-width: 300px;
  }
  .welcome__pre {
    font-size: 27px;
  }
  .welcome__title {
    margin-top: 4px;
    margin-bottom: 13px;
    font-size: 70px;
  }
  .welcome__title::after {
    bottom: -7px;
    width: 86%;
    left: 7%;
  }
  .welcome__title::before {
    bottom: -10px;
    width: 86%;
    left: 7%;
  }
  .welcome__after {
    font-size: 25px;
  }
  .btn {
    padding: 10px 15px;
    font-size: 14px;
  }
}
@media (max-width: 768px) {
  .col-s-1 {
    width: 8.333%;
  }
  .col-s-2 {
    width: 16.667%;
  }
  .col-s-3 {
    width: 25%;
  }
  .col-s-4 {
    width: 33.333%;
  }
  .col-s-5 {
    width: 41.667%;
  }
  .col-s-6 {
    width: 50%;
  }
  .col-s-7 {
    width: 58.333%;
  }
  .col-s-8 {
    width: 66.667%;
  }
  .col-s-9 {
    width: 75%;
  }
  .col-s-10 {
    width: 83.333%;
  }
  .col-s-11 {
    width: 91.667%;
  }
  .col-s-12 {
    width: 100%;
  }
  .container {
    padding: 0 5px;
  }
  .mobile-hide {
    display: none;
  }
  .top {
    font-size: 16px;
  }
  .top__container {
    margin-left: -5px;
    margin-right: -5px;
  }
  .top__block {
    width: 100%;
  }
  .top__block:first-of-type {
    display: block;
    background-color: #fff;
    color: #5c5c5c;
    text-align: center;
  }
  .top__link {
    font-size: 16px;
    padding: 10px 0;
    text-align: center;
  }
  .top__link--separate::after {
    height: 38px;
  }
  .top__link--separate:first-child {
    width: 80px;
  }
  .top__link--separate:last-child {
    width: 40px;
  }
  .top__link:nth-child(2) {
    flex: 60%;
  }
  .top__link--list {
    display: block;
    text-align: center;
    padding-right: 20px;
  }
  .top__link--list::before {
    display: none;
  }
  .top__arrow {
    top: 6px;
    font-size: 18px;
  }
  .top__list {
    left: 0;
  }
  .top__item:hover {
    padding-left: 15px;
  }
  .nav__logo {
    width: 100%;
    text-align: center;
    padding: 20px 5px;
  }
  .icon--inside {
    font-size: 18px;
  }
  .cart {
    margin-top: 0;
    width: 100%;
    justify-content: center;
  }
  .cart__select {
    display: none;
  }
  .cart__info {
    border-top: 1px solid #c7c7c7;
    padding: 15px 10px;
    background: #fafafa;
    font-size: 16px;
  }
  .cart__container {
    width: 100%;
  }
}
