@import 'base';
@font-face {
    font-family: 'Royale';
    src: url('../fonts/Luxury\ Royale\ JF\ Regular.ttf');
}
@font-face {
    font-family: 'Bello';
    src: url('../fonts/Bello-Script.ttf');
}
@font-face {
    font-family: 'Emperial';
    src: url('../fonts/aEmpirial\ Regular.ttf');
}
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');
body {
    font-family: 'Arial', sans-serif;
}
@color-green: #4fafa0;
@color-green-darker: #36615a;
@color-black: #000;
@color-white: #fff;
@color-transparent: rgba(255,255,255,0.2);
@color-white-almost: #f7f7f7;
@color-white-transparent: rgba(255, 255, 255, 0.8);
@color-gray: rgb(92, 92, 92);
@color-gray-transparent: rgba(92, 92, 92, 0.4);
@color-gray-light: rgb(199, 199, 199);
@color-gray-super-light: #ededed;
@color-orange: #ffa687;
@color-super-light: #fafafa;
@color-brown: #91817a;
@color-pink: #ba96a2;
@color-orange-dark: #e88e6e;
.col-20 {
    width: 20%;
    padding: 30px 10px;
}
.hide {
    display: none;
}
.icon {
    font-size: 13px;
    &--gray {
        color: @color-gray;
        margin-right: 10px;
        margin-left: 6px;
    }
    &--menu {
        font-size: 25px;
        cursor: pointer;
    }
    &--shop {
        font-size: 40px;
        margin-bottom: 5px;
    }
}
.top {
    background-color: @color-black;
    color: @color-white;
    text-transform: uppercase;
    font-size: 11px;
    z-index: 2;
    &__container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
    }
    &__block {
        display: flex;
        align-items: center;
    }
    &__link {
        display: inline-block;
        padding: 8px 0;
        font-size: 12px;
        transform: translateX(6px);
        cursor: pointer;
        position: relative;
        &--separate {
            padding: 8px 11px;
            font-size: 11px;
            transform: translateX(0px);
            &::after {
                content: '';
                position: absolute;
                top: 0;
                right: 0;
                height: 28px;
                width: 1px;
                background: @color-gray;
            }
        }
        &--list {
            position: relative;
            padding-right: 31px;
            padding-left: 17px;
            display: flex;
            height: 100%;
            z-index: 2;
            &::before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                height: 28px;
                width: 1px;
                background: @color-gray;
            }
            &:hover .top__list {
                display: block;
                z-index: 2;
            }
        }
    }
    &__list {
        display: none;
        position: absolute;
        top: 100%;
        left: 1px;
        width: 100%;
        background: @color-black;
        margin: 0;
        padding: 0;
        z-index: 2;
    }
    &__item {
        list-style-type: none;
        padding: 3px 15px;
        transition: 0.2s padding;
        &:hover {
            padding-left: 20px;
        }
    }
    &__arrow {
        font-size: 15px;
        position: absolute;
        top: 3px;
        right: 15px;
    }
}
.nav {
    background: @color-white;
    &__link {
        display: inline-block;
        width: 100%;
    }
    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
    }
    &__menu {
        display: flex;
        margin: 0;
        padding: 0;
    }
    &__item {
        list-style-type: none;
        padding: 43px 15px;
        
        cursor: pointer;
        &:hover {
            background: @color-gray-light;
            color: @color-white;
            .nav__subcontainer {
                display: flex;
                color: @color-black;
            }
        }
        &--submenu {
            padding: 3px 0px 3px 5px;
            transition: 0.2s;
            border-left: 1px solid @color-gray-light;
            &:hover {
                padding-left: 10px;
            }
        }
    }
    &__subcontainer {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        margin: 0;
        padding: 0;
        background: @color-white;
        z-index: 2;
    }
    &__sub {
        list-style-type: none;
        width: 25%;
    }
    &__submenu {
        margin:0;
        padding: 10px 15px;
    }
    &__logo {
        margin-right: auto;
    }
    &__manage {
        display: flex;
        flex-wrap: wrap;
    }
}
.menuhide {
    display: none;
}
.cart {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    &__select {
        display: inline-block;
        width: 100%;
        min-width: 214px;
        padding: 7px;
        border: 1px solid @color-gray-light;
        color: @color-gray;
    }
    &__info {
        border: 1px solid @color-gray-light;
        border-top: 0;
        padding: 7px;
        display: flex;
        justify-content: space-between;
        color: @color-gray;
        font-size: 12px;
        user-select: none;
    }
    &__items {
        user-select: inherit;
    }
}
.slider {
    margin-bottom: 75px;
    &__container {
        position: relative;
    }
    &__item {
        position: relative;
    }
    &__content {
        position: absolute;
        top: 32%;
        left: 15%;
        transform: translate(-15%, -32%);
    }
    &__arrow {
        user-select: none;
        position: absolute;
        left: 0;
        top: 50%;
        padding: 45px 10px;
        background: @color-white-transparent;
        cursor: pointer;
        font-weight: bold;
        color: @color-gray-light;
        transform: translateY(-50%);
        font-size: 20px;
        transition: 0.2s background-color;
        &--next {
            right: 0;
            left: auto;
        }
        &:hover {
            background: @color-white;
        }
    }
    &__progress {
        position: absolute;
        display: inline-block;
        bottom: 0;
        height: 7px;
        width: 0;
        background: @color-gray-transparent;
    }
    &__pagination {
        position: absolute;
        bottom: -60px;
        width: 100%;
    }
    &__dots {
        display: flex;
        padding: 0;
        justify-content: center;
        li {
            display: inline-block;
            border-radius: 50%;
            overflow: hidden;
            margin: 0 10px;
            width: 10px;
            height: 10px;
            background: @color-gray-light;
            cursor: pointer;
            transition: 0.2s background;
            &:hover {
                background: @color-orange;
            }
            button {
                display: none;
            }
        }
        .slick-active {
            background: @color-orange;
        }
    }
}
.welcome {
    text-align: center;
    max-width: 500px;
    &__pre {
        font-family: 'Royale', serif;
        font-size: 36px;
        position: relative;
        color: @color-brown;
        &::before, &::after {
            content: '';
            width: 91.9%;
            height: 1px;
            top: 60%;
            position: absolute;
            background: @color-brown;
        }
        &:before {
            left: calc(-100%);
        }
        &::after {
            right: calc(-100% - 5px);
            background: @color-brown;
        }
    }
    &__title {
        user-select: none;
        margin-top: 6px;
        margin-bottom: 25px;
        line-height: 0.78;
        font-family: 'Roboto Condensed';
        text-transform: uppercase;
        font-size: 93px;
        font-weight: 900;
        background: linear-gradient(@color-orange, @color-pink);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent; 
        position: relative;
        &::after {
            content: '';
            position: absolute;
            height: 3px;
            width: 68%;
            background: @color-brown;
            bottom: -10px;
            left: 16%;
        }
        &::before {
            content: '';
            position: absolute;
            height: 1px;
            width: 68%;
            background: @color-brown;
            bottom: -15px;
            left: 16%;
        }
    }
    &__after {
        text-transform: uppercase;
        display: inline-block;
        font-weight: 200;
        width: 100%;
        font-family: 'Helvetica', sans-serif;
        font-size: 30px;
        color: @color-brown;
        margin-bottom: 11px;
    }
}
.newsletter {
    background: @color-gray-super-light;
    font-size: 12px;
    margin-bottom: 35px;
    &__container {
        display: flex;
        justify-content: space-between;
    }
    &__input {
        border: 0;
        padding: 5px 6px;
        width: 130px;
        &::placeholder {
            font-style: italic;
            font-size: 12px;
        }
    }
    &__box {
        display: flex;
        align-items: center;
    }
    &__text {
        margin-right: 10px;
    }
    &__link {
        color: @color-gray;
        background: @color-white-almost;
        display: inline-block;
        padding: 17px 19px;
        font-size: 20px;
        &:hover {
            background: @color-gray-super-light;
        }
        &:nth-of-type(even){
            background: @color-gray-super-light;
            &:hover {
                background: @color-white-almost;
            }
        }
    }
}
.promote {
    margin-bottom: 40px;
    &__item {
        position: relative;
        overflow: hidden;
        cursor: pointer;
        img {
            transition: 0.2s all;
        }
        &:hover img {
            transform: scale(1.1);
        }
    }
    &__content {
        position: absolute;
        &--big {
            top: 50%;
            left: 35%;
            transform: translate(0, -50%);
        }
        &--circle {
            left: 6%;
            top: 50%;
            transform: translate(0, -50%);
        }
        &--bottom {
            bottom: 10px;
            width: 100%;
        }
        &--last {
            bottom:30px;
            left: -15%;
        }
    }
}
.slogan {
    display: flex;
    flex-wrap: wrap;
    text-transform: uppercase;
    text-align: center;
    &__top, &__slim, &__down {
        display: inline-block;
        width: 100%;
        line-height: 0.9;
    }
    &__top {
        font-weight: 800;
        font-size: 35px;
    }
    &__white {
        display: inline-block;
        width: 100%;
        font-size: 22px;
        color: @color-white;
    }
    &__slim {
        font-family: 'Roboto Condensed', sans-serif;
        font-size: 73px;
        font-weight: 100;
        &--small {
            font-size: 38px;
        }
    }
    &__fancy {
        display: inline-block;
        text-transform: none;
        width: 100%;
        font-family: 'Bello', serif;
        font-size: 22px;
        color: @color-orange;
        margin-top: 15px;
    }
    &__separate {
        display: inline-block;
        padding: 5px 10px;
        border-radius: 50%;
        font-style: italic;
        margin: 0 auto;
        background: @color-gray;
        font-size: 20px;
        color: @color-white;
        position: relative;
        &::after, &::before {
            content: '';
            height: 1px;
            width: 280%;
            background: @color-gray;
            position: absolute;
            top: 48%;
        }
        &::after {
            right: -290%;
        }
        &::before {
            left: -290%;
        }
    }
   &__down {
       color: @color-green;
       font-size: 70px;
       font-weight: 700;
   }
   &__down-circle {
       font-size: 12px;
       font-weight: 800;
   }
   &__circle {
       background: @color-white;
       width: 130px;
       height: 130px;
       border-radius: 50%;
       display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: 0 0 10px @color-gray;
       &--small {
           display: block;
           width: 120px;
           height: 120px;
           border: 1px solid @color-gray-light;
           text-align: center;
           box-shadow: none;
       }
   }
   &__width {
       display: inline-block;
       width: 120px;
       font-size: 25px;
       color: @color-white;
   }
   &__sep {
       width: 100%;
   }
   &--last {
    justify-content: center;
   }
}
.hotspot {
    margin-bottom: 40px;
    &__header {
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: flex-end;
    }
    &__titles {
        display: flex;
        text-transform: uppercase;
        font-size: 14px;
    }
    &__title {
        padding: 15px 22px;
        cursor: pointer;
        &:hover {
            background: @color-orange-dark;
            color: @color-white;
        }
        &--active {
            background: @color-orange;
            color: @color-white;
        }
    }
    &__arrows {
        display: flex;
        &--hide {
            display: none;
        }
    }
    &__arrow {
        background-color: @color-gray-super-light;
        font-size: 13px;
        padding: 14px 22px;
        user-select: none;
        cursor: pointer;
        &:hover {
            background: @color-orange;
                color: @color-white;
        }
    }
    &__list {
        background: @color-orange;
    }
}
.sale {
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(135deg, @color-gray 50%, @color-white 50%);
    width: 50px;
    height: 50px;
    font-size: 11px;
    text-align: left;
    color: @color-white;
    &__text {
        display: inline-block;
        padding: 5px;
    }
}
.product {
    background: @color-white;
    text-align: center;
    text-transform: uppercase;
    transition: 0.2s transform;
    &:hover {
        transform: scale(1.04);
        box-shadow: 0 0 10px @color-gray;
    }
    &__name, &__price {
        display: block;
    }
    &__name {
        font-size: 12px;
        margin-top: 12px;
        margin-bottom: 5px;
    }
    &__price{
        font-size: 22px;
        margin-bottom: 5px;
    }
    &__content {
        padding-bottom: 10px;
        overflow: hidden;
        &--dark {
            background: @color-gray-super-light;
        }
    }
    &__photo {
        position: relative;
        cursor: pointer;
        img {
            width: 100%;
            object-fit: cover;
        }
    }
    &__cover {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        background: @color-transparent;
        opacity: 0;
        transition: 0.2s;
        &:hover {
            opacity: 1;
        }
    }
    &__stemple {
        background: @color-gray;
        height: 130px;
        width: 130px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        color: @color-white;
    }

}
.btn {
    background: @color-orange;
    text-transform: uppercase;
    color: @color-white;
    padding: 17px 25px;
    border: 0;
    border-bottom: 3px solid @color-orange-dark;
    font-size: 16px;
    cursor: pointer;
    background: linear-gradient(90deg, @color-orange-dark 50%, @color-orange 50%);
    background-position: 100% 0;
    background-size: 300%;
    transition: 0.5s background;
    &--form {
        padding: 1px 10px;
        font-size: 20px;
        font-weight: 700;
    }
    &:hover {
        background-position: 0 100%;
    }
    &--green {
        background: linear-gradient(90deg, @color-green-darker 50%, @color-green 50%);
        background-position: 100% 0;
        background-size: 300%;
        border: none;
        padding: 5px 10px;
        font-size: 14px;
    }
    &--product {
        font-size: 12px;
        padding: 8px 10px;
    }

}
.sales{
    margin-bottom: 40px;
    &__badgetbox {
        display: flex;
        width: 100%;
        justify-content: center;
        margin-bottom: 20px;
    }
    &__container {
        overflow: hidden;
    }
    &__col {
        padding: 10px;
    }
}
.badget {
    position: relative;
    text-align: center;
    line-height: 0.8;
    &__content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: @color-white;
        font-family: 'Emperial', serif;
    }
    &__text {
        font-size: 35px;
        &--big {
            font-size:80px;
        }
    }
    &__down {
        position: relative;
    }
    &__abs {
        font-size: 35px;
        position: absolute;
        top: 10%;
        right: 10%;
    }
    &::after, &::before {
        content: '';
        height: 1px;
        width: 350%;
        top: 50%;
        position: absolute;
        background: @color-gray-light;
    }
    &::after {
        left: calc(100% + 20px);
    }
    &::before {
        right: calc(100% + 20px);
    }
}
.loader {
    display: none;
    text-align: center;
    margin: 15px 0;
    &__btn {
        border: 0;
        padding: 10px 20px;
        background: black;
        color: @color-white;
        text-transform: uppercase;
        transition: 0.2s;
        cursor: pointer;
        &:hover {
            background: @color-gray;
        }
    }
}
.brands {
    margin-top: 55px;
    margin-bottom: 30px;
    padding-bottom: 30px;
    border-top: 1px solid @color-gray-light;
    border-bottom: 1px solid @color-gray-light;
    text-align: center;
    &__title{
        display: inline-block;
        margin: 0 auto;
        padding: 10px;
        background: @color-white;
        transform: translateY(-20px);
        text-transform: uppercase;
        font-size: 15px;
    }
}
.about {
    font-size: 14px;
    text-align: center;
    margin-bottom: 30px;
    &__title {
        margin-top: 0;
    }
    &__paragraph {
        color: @color-gray;
    }
}
.cards {
    background: @color-gray-super-light;
    &__content {
        padding: 20px 0;
        text-align: center;
        color: @color-gray;
        font-size: 14px;
    }
}
@import 'rwd';